In [ ]:
import pandas as pd

df = pd.read_csv('heart_attack_germany.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275644 entries, 0 to 275643
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   State                     275644 non-null  object
 1   Age_Group                 275644 non-null  object
 2   Heart_Attack_Incidence    275644 non-null  int64
 3   Year                      275644 non-null  int64
 4   Gender                    275644 non-null  object
 5   BMI                       275644 non-null  float64
 6   Smoking_Status            275644 non-null  object
 7   Alcohol_Consumption       275644 non-null  float64
 8   Physical_Activity_Level   275644 non-null  object
 9   Diet_Quality              275644 non-null  object
 10  Family_History            275644 non-null  int64
 11  Hypertension              275644 non-null  int64
 12  Cholesterol_Level         275644 non-null  float64
 13  Diabetes                  275644 non-null  int64
 14  Urban_Rural               275644 non-null  object
 15  Socioeconomic_Status      275644 non-null  object
 16  Air_Pollution_Index       275644 non-null  float64
 17  Stress_Level              275644 non-null  object
 18  Healthcare_Access         275644 non-null  object
 19  Education_Level           275644 non-null  object
 20  Employment_Status         275644 non-null  object
 21  Region_Heart_Attack_Rate  275644 non-null  float64
dtypes: float64(5), int64(5), object(12)
memory usage: 46.3+ MB

In [ ]:
df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,Lower Saxony,Youth,0,2018,Other,25.6,Former Smoker,4.2,Moderate,Average,...,154.4,0,Rural,Low,31.58,Moderate,Moderate,Primary,Retired,1.92
1,Saxony,Adult,0,2021,Female,36.7,Smoker,2.4,Low,Poor,...,75.0,1,Rural,Low,46.22,High,Easy,Primary,Unemployed,14.16
2,Hesse,Youth,1,2022,Female,28.6,Smoker,29.5,High,Poor,...,121.9,0,Urban,Middle,15.69,High,Hard,Secondary,Student,3.49
3,Lower Saxony,Adult,0,2015,Male,27.6,Non-Smoker,4.2,Moderate,Poor,...,152.3,0,Urban,Low,26.50,High,Hard,Tertiary,Student,3.24
4,Hamburg,Adult,0,2015,Female,15.2,Smoker,4.3,Moderate,Good,...,130.3,0,Urban,High,11.21,High,Moderate,Tertiary,Employed,9.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275639,Baden-Württemberg,Adult,0,2022,Female,27.2,Non-Smoker,2.7,High,Poor,...,114.1,0,Rural,Low,27.01,High,Easy,Primary,Unemployed,15.37
275640,Hesse,Adult,0,2021,Male,28.4,Smoker,9.5,Low,Good,...,80.8,1,Rural,Low,45.26,Moderate,Hard,Secondary,Retired,8.37
275641,North Rhine-Westphalia,Adult,0,2016,Other,33.2,Non-Smoker,7.7,Moderate,Good,...,120.7,0,Urban,Low,21.63,High,Moderate,Primary,Employed,5.11
275642,Hamburg,Youth,0,2021,Male,37.7,Former Smoker,19.3,High,Average,...,139.5,1,Urban,Low,10.29,High,Moderate,Secondary,Retired,9.13
275643,North Rhine-Westphalia,Youth,1,2019,Female,15.9,Former Smoker,16.7,High,Poor,...,142.2,0,Urban,Low,21.19,High,Easy,Tertiary,Student,4.84

In [ ]:
df.shape

(275644, 22)

In [ ]:
df.describe()

,Heart_Attack_Incidence,Year,BMI,Alcohol_Consumption,Family_History,Hypertension,Cholesterol_Level,Diabetes,Air_Pollution_Index,Region_Heart_Attack_Rate
count,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000
mean,0.150070,2018.997319,24.992669,4.985734,0.300540,0.400564,130.034229,0.199525,27.486225,10.489019
std,0.357141,2.582667,4.996535,5.001789,0.458494,0.490014,30.009242,0.399644,13.001527,5.483277
min,0.000000,2015.000000,1.400000,0.000000,0.000000,0.000000,-7.900000,0.000000,5.000000,1.000000
25%,0.000000,2017.000000,21.600000,1.400000,0.000000,0.000000,109.800000,0.000000,16.220000,5.750000
50%,0.000000,2019.000000,25.000000,3.500000,0.000000,0.000000,130.100000,0.000000,27.430000,10.490000
75%,0.000000,2021.000000,28.400000,6.900000,1.000000,1.000000,150.300000,0.000000,38.780000,15.240000
max,1.000000,2023.000000,47.900000,70.000000,1.000000,1.000000,272.400000,1.000000,50.000000,20.000000

In [ ]:
# Checando balanceamento da variável target
df['Heart_Attack_Incidence'].value_counts()

Heart_Attack_Incidence
0    234278
1     41366
Name: count, dtype: int64

In [ ]:
# Fazendo a separação entre valores positivos e negativos
zero_class = df[df['Heart_Attack_Incidence'] == 0]
one_class = df[df['Heart_Attack_Incidence'] == 1]

# Fazendo downsampling
zero_class_downsampled = zero_class.sample(n=len(one_class), random_state=42)

# Concatenando novamente o dataframe
balanced_df = pd.concat([one_class, zero_class_downsampled])

# Reembaralhando, para não haver viés
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:
# Checando balanceamento dos dados a cada ano (antes do downsampling)
df['Year'].value_counts()

Year
2016    30974
2021    30777
2019    30714
2020    30629
2015    30624
2022    30559
2023    30542
2017    30524
2018    30301
Name: count, dtype: int64

In [ ]:
# Checando balanceamento dos dados a cada ano (após o downsampling)
balanced_df['Year'].value_counts()

Year
2016    9329
2017    9307
2019    9270
2021    9265
2020    9253
2022    9146
2015    9089
2023    9056
2018    9017
Name: count, dtype: int64

In [ ]:
# Checando dados nulos
balanced_df.isnull().sum()

State                       0
Age_Group                   0
Heart_Attack_Incidence      0
Year                        0
Gender                      0
BMI                         0
Smoking_Status              0
Alcohol_Consumption         0
Physical_Activity_Level     0
Diet_Quality                0
Family_History              0
Hypertension                0
Cholesterol_Level           0
Diabetes                    0
Urban_Rural                 0
Socioeconomic_Status        0
Air_Pollution_Index         0
Stress_Level                0
Healthcare_Access           0
Education_Level             0
Employment_Status           0
Region_Heart_Attack_Rate    0
dtype: int64

In [ ]:
# Separando variáveis escalares, inteiras e categóricas
cat_columns = []
scalar_columns = []
numeric_columns = []

for col in df.columns:
    if df[col].dtypes == 'int64':
        numeric_columns.append(col)
    elif df[col].dtypes == 'float64':
        scalar_columns.append(col)
    elif df[col].dtypes == 'object':
        cat_columns.append(col)

In [ ]:
cat_columns

['State',
 'Age_Group',
 'Gender',
 'Smoking_Status',
 'Physical_Activity_Level',
 'Diet_Quality',
 'Urban_Rural',
 'Socioeconomic_Status',
 'Stress_Level',
 'Healthcare_Access',
 'Education_Level',
 'Employment_Status']

In [ ]:
scalar_columns

['BMI',
 'Alcohol_Consumption',
 'Cholesterol_Level',
 'Air_Pollution_Index',
 'Region_Heart_Attack_Rate']

In [ ]:
numeric_columns

['Heart_Attack_Incidence',
 'Year',
 'Family_History',
 'Hypertension',
 'Diabetes']

In [ ]:
# !pip install scikit-learn

from sklearn.preprocessing import OrdinalEncoder, StandardScaler

enc = OrdinalEncoder()

# Codificando colunas categóricas
balanced_df[cat_columns + numeric_columns] = enc.fit_transform(balanced_df[cat_columns + numeric_columns])

In [ ]:
# Verificando colunas codificadas
balanced_df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,2.0,1.0,0.0,1.0,1.0,26.0,0.0,3.9,2.0,1.0,...,164.7,0.0,1.0,2.0,37.10,0.0,2.0,0.0,0.0,14.84
1,7.0,0.0,0.0,5.0,1.0,28.0,2.0,1.7,0.0,1.0,...,114.4,0.0,1.0,1.0,5.18,0.0,1.0,2.0,0.0,8.10
2,6.0,1.0,1.0,4.0,0.0,23.6,2.0,11.8,0.0,0.0,...,156.1,0.0,0.0,1.0,30.90,1.0,1.0,1.0,3.0,11.91
3,6.0,0.0,1.0,6.0,1.0,20.2,0.0,2.9,0.0,2.0,...,131.8,0.0,1.0,1.0,40.30,2.0,0.0,2.0,2.0,8.01
4,3.0,1.0,0.0,7.0,2.0,28.1,1.0,6.7,0.0,0.0,...,111.5,0.0,0.0,2.0,39.24,1.0,0.0,1.0,0.0,3.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82727,6.0,0.0,1.0,8.0,2.0,29.1,1.0,3.0,1.0,1.0,...,182.2,1.0,0.0,0.0,28.19,1.0,0.0,2.0,1.0,11.22
82728,5.0,1.0,0.0,4.0,1.0,23.1,2.0,3.2,0.0,0.0,...,124.7,0.0,1.0,1.0,49.90,0.0,1.0,1.0,1.0,3.85
82729,0.0,1.0,0.0,0.0,0.0,26.5,0.0,2.8,1.0,0.0,...,108.4,0.0,1.0,0.0,7.50,0.0,0.0,1.0,3.0,4.00
82730,3.0,0.0,1.0,1.0,0.0,19.2,2.0,4.7,0.0,1.0,...,64.1,0.0,1.0,2.0,43.15,1.0,2.0,0.0,1.0,18.79
82731,4.0,0.0,1.0,4.0,1.0,33.3,0.0,5.8,2.0,0.0,...,148.6,0.0,1.0,1.0,37.75,2.0,0.0,0.0,0.0,12.58

In [ ]:
scaler = StandardScaler()

# Padronizando variáveis escalares
balanced_df[scalar_columns] = scaler.fit_transform(balanced_df[scalar_columns])

In [ ]:
balanced_df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,2.0,1.0,0.0,1.0,1.0,0.199136,0.0,-0.215939,2.0,1.0,...,1.152378,0.0,1.0,2.0,0.739514,0.0,2.0,0.0,0.0,0.796640
1,7.0,0.0,0.0,5.0,1.0,0.600754,2.0,-0.655411,0.0,1.0,...,-0.516792,0.0,1.0,1.0,-1.710413,0.0,1.0,2.0,0.0,-0.432524
2,6.0,1.0,1.0,4.0,0.0,-0.282805,2.0,1.362167,0.0,0.0,...,0.866993,0.0,0.0,1.0,0.263651,1.0,1.0,1.0,3.0,0.262300
3,6.0,0.0,1.0,6.0,1.0,-0.965555,0.0,-0.415699,0.0,2.0,...,0.060615,0.0,1.0,1.0,0.985121,2.0,0.0,2.0,2.0,-0.448937
4,3.0,1.0,0.0,7.0,2.0,0.620835,1.0,0.343390,0.0,0.0,...,-0.613026,0.0,0.0,2.0,0.903764,1.0,0.0,1.0,0.0,-1.264124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82727,6.0,0.0,1.0,8.0,2.0,0.821644,1.0,-0.395723,1.0,1.0,...,1.733104,1.0,0.0,0.0,0.055653,1.0,0.0,2.0,1.0,0.136466
82728,5.0,1.0,0.0,4.0,1.0,-0.383209,2.0,-0.355771,0.0,0.0,...,-0.174993,0.0,1.0,1.0,1.721942,0.0,1.0,1.0,1.0,-1.207590
82729,0.0,1.0,0.0,0.0,0.0,0.299541,0.0,-0.435675,1.0,0.0,...,-0.715897,0.0,1.0,0.0,-1.532349,0.0,0.0,1.0,3.0,-1.180234
82730,3.0,0.0,1.0,1.0,0.0,-1.166364,2.0,-0.056131,0.0,1.0,...,-2.185962,0.0,1.0,2.0,1.203865,1.0,2.0,0.0,1.0,1.516995
82731,4.0,0.0,1.0,4.0,1.0,1.665041,0.0,0.163606,2.0,0.0,...,0.618111,0.0,1.0,1.0,0.789403,2.0,0.0,0.0,0.0,0.384487