In [390]:
import pandas as pd
import numpy as np

df = pd.read_csv('heart_attack_germany.csv')

In [391]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275644 entries, 0 to 275643
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   State                     275644 non-null  object
 1   Age_Group                 275644 non-null  object
 2   Heart_Attack_Incidence    275644 non-null  int64
 3   Year                      275644 non-null  int64
 4   Gender                    275644 non-null  object
 5   BMI                       275644 non-null  float64
 6   Smoking_Status            275644 non-null  object
 7   Alcohol_Consumption       275644 non-null  float64
 8   Physical_Activity_Level   275644 non-null  object
 9   Diet_Quality              275644 non-null  object
 10  Family_History            275644 non-null  int64
 11  Hypertension              275644 non-null  int64
 12  Cholesterol_Level         275644 non-null  float64
 13  Diabetes                  275644 non-null  int64
 14  Urban_Rural               275644 non-null  object
 15  Socioeconomic_Status      275644 non-null  object
 16  Air_Pollution_Index       275644 non-null  float64
 17  Stress_Level              275644 non-null  object
 18  Healthcare_Access         275644 non-null  object
 19  Education_Level           275644 non-null  object
 20  Employment_Status         275644 non-null  object
 21  Region_Heart_Attack_Rate  275644 non-null  float64
dtypes: float64(5), int64(5), object(12)
memory usage: 46.3+ MB

In [392]:
df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,Lower Saxony,Youth,0,2018,Other,25.6,Former Smoker,4.2,Moderate,Average,...,154.4,0,Rural,Low,31.58,Moderate,Moderate,Primary,Retired,1.92
1,Saxony,Adult,0,2021,Female,36.7,Smoker,2.4,Low,Poor,...,75.0,1,Rural,Low,46.22,High,Easy,Primary,Unemployed,14.16
2,Hesse,Youth,1,2022,Female,28.6,Smoker,29.5,High,Poor,...,121.9,0,Urban,Middle,15.69,High,Hard,Secondary,Student,3.49
3,Lower Saxony,Adult,0,2015,Male,27.6,Non-Smoker,4.2,Moderate,Poor,...,152.3,0,Urban,Low,26.50,High,Hard,Tertiary,Student,3.24
4,Hamburg,Adult,0,2015,Female,15.2,Smoker,4.3,Moderate,Good,...,130.3,0,Urban,High,11.21,High,Moderate,Tertiary,Employed,9.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275639,Baden-Württemberg,Adult,0,2022,Female,27.2,Non-Smoker,2.7,High,Poor,...,114.1,0,Rural,Low,27.01,High,Easy,Primary,Unemployed,15.37
275640,Hesse,Adult,0,2021,Male,28.4,Smoker,9.5,Low,Good,...,80.8,1,Rural,Low,45.26,Moderate,Hard,Secondary,Retired,8.37
275641,North Rhine-Westphalia,Adult,0,2016,Other,33.2,Non-Smoker,7.7,Moderate,Good,...,120.7,0,Urban,Low,21.63,High,Moderate,Primary,Employed,5.11
275642,Hamburg,Youth,0,2021,Male,37.7,Former Smoker,19.3,High,Average,...,139.5,1,Urban,Low,10.29,High,Moderate,Secondary,Retired,9.13
275643,North Rhine-Westphalia,Youth,1,2019,Female,15.9,Former Smoker,16.7,High,Poor,...,142.2,0,Urban,Low,21.19,High,Easy,Tertiary,Student,4.84

In [393]:
df.shape

(275644, 22)

In [394]:
df.describe()

,Heart_Attack_Incidence,Year,BMI,Alcohol_Consumption,Family_History,Hypertension,Cholesterol_Level,Diabetes,Air_Pollution_Index,Region_Heart_Attack_Rate
count,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000
mean,0.150070,2018.997319,24.992669,4.985734,0.300540,0.400564,130.034229,0.199525,27.486225,10.489019
std,0.357141,2.582667,4.996535,5.001789,0.458494,0.490014,30.009242,0.399644,13.001527,5.483277
min,0.000000,2015.000000,1.400000,0.000000,0.000000,0.000000,-7.900000,0.000000,5.000000,1.000000
25%,0.000000,2017.000000,21.600000,1.400000,0.000000,0.000000,109.800000,0.000000,16.220000,5.750000
50%,0.000000,2019.000000,25.000000,3.500000,0.000000,0.000000,130.100000,0.000000,27.430000,10.490000
75%,0.000000,2021.000000,28.400000,6.900000,1.000000,1.000000,150.300000,0.000000,38.780000,15.240000
max,1.000000,2023.000000,47.900000,70.000000,1.000000,1.000000,272.400000,1.000000,50.000000,20.000000

In [395]:
# Checando balanceamento da variável target
df['Heart_Attack_Incidence'].value_counts()

Heart_Attack_Incidence
0    234278
1     41366
Name: count, dtype: int64

In [396]:
# Fazendo a separação entre valores positivos e negativos
zero_class = df[df['Heart_Attack_Incidence'] == 0]
one_class = df[df['Heart_Attack_Incidence'] == 1]

# Fazendo downsampling
zero_class_downsampled = zero_class.sample(n=len(one_class), random_state=42)

# Concatenando novamente o dataframe
balanced_df = pd.concat([one_class, zero_class_downsampled])

# Reembaralhando, para não haver viés
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [397]:
balanced_df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,Berlin,Youth,0,2016,Male,26.0,Former Smoker,3.9,Moderate,Good,...,164.7,0,Urban,Middle,37.10,High,Moderate,Primary,Employed,14.84
1,Saxony,Adult,0,2020,Male,28.0,Smoker,1.7,High,Good,...,114.4,0,Urban,Low,5.18,High,Hard,Tertiary,Employed,8.10
2,North Rhine-Westphalia,Youth,1,2019,Female,23.6,Smoker,11.8,High,Average,...,156.1,0,Rural,Low,30.90,Low,Hard,Secondary,Unemployed,11.91
3,North Rhine-Westphalia,Adult,1,2021,Male,20.2,Former Smoker,2.9,High,Poor,...,131.8,0,Urban,Low,40.30,Moderate,Easy,Tertiary,Student,8.01
4,Hamburg,Youth,0,2022,Other,28.1,Non-Smoker,6.7,High,Average,...,111.5,0,Rural,Middle,39.24,Low,Easy,Secondary,Employed,3.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82727,North Rhine-Westphalia,Adult,1,2023,Other,29.1,Non-Smoker,3.0,Low,Good,...,182.2,1,Rural,High,28.19,Low,Easy,Tertiary,Retired,11.22
82728,Lower Saxony,Youth,0,2019,Male,23.1,Smoker,3.2,High,Average,...,124.7,0,Urban,Low,49.90,High,Hard,Secondary,Retired,3.85
82729,Baden-Württemberg,Youth,0,2015,Female,26.5,Former Smoker,2.8,Low,Average,...,108.4,0,Urban,High,7.50,High,Easy,Secondary,Unemployed,4.00
82730,Hamburg,Adult,1,2016,Female,19.2,Smoker,4.7,High,Good,...,64.1,0,Urban,Middle,43.15,Low,Moderate,Primary,Retired,18.79
82731,Hesse,Adult,1,2019,Male,33.3,Former Smoker,5.8,Moderate,Average,...,148.6,0,Urban,Low,37.75,Moderate,Easy,Primary,Employed,12.58

In [398]:
# Checando balanceamento dos dados a cada ano (antes do downsampling)
df['Year'].value_counts()

Year
2016    30974
2021    30777
2019    30714
2020    30629
2015    30624
2022    30559
2023    30542
2017    30524
2018    30301
Name: count, dtype: int64

In [399]:
# Checando balanceamento dos dados a cada ano (após o downsampling)
balanced_df['Year'].value_counts()

Year
2016    9329
2017    9307
2019    9270
2021    9265
2020    9253
2022    9146
2015    9089
2023    9056
2018    9017
Name: count, dtype: int64

In [400]:
# Checando dados nulos
balanced_df.isnull().sum()

State                       0
Age_Group                   0
Heart_Attack_Incidence      0
Year                        0
Gender                      0
BMI                         0
Smoking_Status              0
Alcohol_Consumption         0
Physical_Activity_Level     0
Diet_Quality                0
Family_History              0
Hypertension                0
Cholesterol_Level           0
Diabetes                    0
Urban_Rural                 0
Socioeconomic_Status        0
Air_Pollution_Index         0
Stress_Level                0
Healthcare_Access           0
Education_Level             0
Employment_Status           0
Region_Heart_Attack_Rate    0
dtype: int64

In [401]:
# Removendo algumas features que julgo não interessar
col_to_remove = ['Year', 'State']

balanced_df.drop(columns=col_to_remove, inplace=True)

In [402]:
# Separando variáveis escalares, inteiras e categóricas
cat_columns = []
scalar_columns = []
numeric_columns = []

for col in balanced_df.columns:
    if df[col].dtypes == 'int64':
        numeric_columns.append(col)
    elif df[col].dtypes == 'float64':
        scalar_columns.append(col)
    elif df[col].dtypes == 'object':
        cat_columns.append(col)

In [403]:
scalar_columns

['BMI',
 'Alcohol_Consumption',
 'Cholesterol_Level',
 'Air_Pollution_Index',
 'Region_Heart_Attack_Rate']

In [404]:
numeric_columns

['Heart_Attack_Incidence', 'Family_History', 'Hypertension', 'Diabetes']

In [405]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder(dtype=np.int64)

# Codificando colunas categóricas
balanced_df[cat_columns + numeric_columns] = enc.fit_transform(balanced_df[cat_columns + numeric_columns])

numeric_columns.remove('Heart_Attack_Incidence')
numeric_columns

['Family_History', 'Hypertension', 'Diabetes']

In [406]:
# Verificando colunas codificadas
balanced_df

,Age_Group,Heart_Attack_Incidence,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,Family_History,Hypertension,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,1,0,1,26.0,0,3.9,2,1,0,1,164.7,0,1,2,37.10,0,2,0,0,14.84
1,0,0,1,28.0,2,1.7,0,1,1,0,114.4,0,1,1,5.18,0,1,2,0,8.10
2,1,1,0,23.6,2,11.8,0,0,1,0,156.1,0,0,1,30.90,1,1,1,3,11.91
3,0,1,1,20.2,0,2.9,0,2,0,0,131.8,0,1,1,40.30,2,0,2,2,8.01
4,1,0,2,28.1,1,6.7,0,0,0,0,111.5,0,0,2,39.24,1,0,1,0,3.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82727,0,1,2,29.1,1,3.0,1,1,0,1,182.2,1,0,0,28.19,1,0,2,1,11.22
82728,1,0,1,23.1,2,3.2,0,0,0,1,124.7,0,1,1,49.90,0,1,1,1,3.85
82729,1,0,0,26.5,0,2.8,1,0,1,1,108.4,0,1,0,7.50,0,0,1,3,4.00
82730,0,1,0,19.2,2,4.7,0,1,1,1,64.1,0,1,2,43.15,1,2,0,1,18.79
82731,0,1,1,33.3,0,5.8,2,0,0,0,148.6,0,1,1,37.75,2,0,0,0,12.58

In [407]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# Padronizando variáveis escalares
balanced_df[scalar_columns] = scaler.fit_transform(balanced_df[scalar_columns])

In [408]:
balanced_df

,Age_Group,Heart_Attack_Incidence,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,Family_History,Hypertension,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,1,0,1,0.550336,0,0.055714,2,1,0,1,0.585131,0,1,2,0.713333,0,2,0,0,0.728421
1,0,0,1,0.595078,2,0.024286,0,1,1,0,0.391371,0,1,1,0.004000,0,1,2,0,0.373684
2,1,1,0,0.496644,2,0.168571,0,0,1,0,0.552003,0,0,1,0.575556,1,1,1,3,0.574211
3,0,1,1,0.420582,0,0.041429,0,2,0,0,0.458398,0,1,1,0.784444,2,0,2,2,0.368947
4,1,0,2,0.597315,1,0.095714,0,0,0,0,0.380200,0,0,2,0.760889,1,0,1,0,0.133684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82727,0,1,2,0.619687,1,0.042857,1,1,0,1,0.652542,1,0,0,0.515333,1,0,2,1,0.537895
82728,1,0,1,0.485459,2,0.045714,0,0,0,1,0.431048,0,1,1,0.997778,0,1,1,1,0.150000
82729,1,0,0,0.561521,0,0.040000,1,0,1,1,0.368259,0,1,0,0.055556,0,0,1,3,0.157895
82730,0,1,0,0.398210,2,0.067143,0,1,1,1,0.197612,0,1,2,0.847778,1,2,0,1,0.936316
82731,0,1,1,0.713647,0,0.082857,2,0,0,0,0.523112,0,1,1,0.727778,2,0,0,0,0.609474

In [409]:
# Separando features de target
X, y = balanced_df.drop(columns=['Heart_Attack_Incidence']), balanced_df['Heart_Attack_Incidence']

In [410]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

# Dividindo em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [411]:
# Lista de modelos e hiperparâmetros para GridSearch
models_and_params = [
    ('RandomForest', RandomForestClassifier(), {
        # 'model__n_estimators': [90, 100, 110],
        # 'model__max_depth': [8, 10, 12],
        # 'model__bootstrap': [True, False],
    }),
    ('KNN', KNeighborsClassifier(), {
        # 'model__n_neighbors': [7, 9, 11],
        # 'model__weights': ['uniform', 'distance'],
    }),
    ('DecisionTree', DecisionTreeClassifier(),{
        # 'model__criterion': ['gini', 'entropy', 'log_loss'],
        # 'model__max_depth': [8, 10, 12],
        # 'model__splitter': ['best', 'random'],
    }),
    ('GradientBoosting', GradientBoostingClassifier(),{
        # 'model__n_estimators': [100, 105, 110, 111],
        # 'model__learning_rate': [0.05, 0.1, 0.2],
        # 'model__max_depth': [8, 10, 12],
    }),
    ('XGBoost', XGBClassifier(),{
        # 'model__n_estimators': [73, 75, 80],
        # 'model__max_depth': [8, 10, 12],
    })
]

In [412]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, roc_auc_score, roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer

# Resultados
results = []
all_models = {}

# Curvas ROC
roc_curves = []

for name, model, params in models_and_params:
    print(f"Treinando o modelo: {name}...")

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', OrdinalEncoder(dtype=np.int64), cat_columns + numeric_columns),
            ('cat', MinMaxScaler(), scalar_columns)
        ]
    )

    pipeline = Pipeline([
      ('preprocessor', preprocessor),
      ('model', model)
    ])

    # GridSearch com validação cruzada
    grid_search = GridSearchCV(pipeline, param_grid=params, cv=5, scoring='roc_auc', n_jobs=-1)
    grid_search.fit(X_train, y_train)

    # Melhor modelo
    best_model = grid_search.best_estimator_
    all_models[name] = best_model

    # Previsões
    y_pred = best_model.predict(X_test)
    y_proba = best_model.predict_proba(X_test)[:, 1]

    # Avaliação
    print(f"\nClassification Report for {name}:")
    print(classification_report(y_test, y_pred))

     # Pegando AUC
    fpr, tpr, _ = roc_curve(y_test, y_proba)
    roc_auc = auc(fpr, tpr)
    print(f"AUC-ROC: {roc_auc}\n")

    # Salvar resultados
    results.append((name, roc_auc, classification_report(y_test, y_pred, output_dict=True)))

    # Curva ROC
    roc_curves.append((name, fpr, tpr, roc_auc))

# Comparação dos resultados
results_df = pd.DataFrame({
    'Model': [r[0] for r in results],
    'AUC': [r[1] for r in results]
})

Treinando o modelo: RandomForest...

Classification Report for RandomForest:
              precision    recall  f1-score   support

           0       0.50      0.52      0.51      8290
           1       0.49      0.46      0.48      8257

    accuracy                           0.49     16547
   macro avg       0.49      0.49      0.49     16547
weighted avg       0.49      0.49      0.49     16547

AUC-ROC: 0.4959437859721466

Treinando o modelo: KNN...

Classification Report for KNN:
              precision    recall  f1-score   support

           0       0.50      0.50      0.50      8290
           1       0.50      0.50      0.50      8257

    accuracy                           0.50     16547
   macro avg       0.50      0.50      0.50     16547
weighted avg       0.50      0.50      0.50     16547

AUC-ROC: 0.5001930153060904

Treinando o modelo: DecisionTree...

Classification Report for DecisionTree:
              precision    recall  f1-score   support

           0       0.50      0.50      0.50      8290
           1       0.50      0.50      0.50      8257

    accuracy                           0.50     16547
   macro avg       0.50      0.50      0.50     16547
weighted avg       0.50      0.50      0.50     16547

AUC-ROC: 0.4973726207817529

Treinando o modelo: GradientBoosting...

Classification Report for GradientBoosting:
              precision    recall  f1-score   support

           0       0.50      0.47      0.49      8290
           1       0.49      0.52      0.51      8257

    accuracy                           0.50     16547
   macro avg       0.50      0.50      0.50     16547
weighted avg       0.50      0.50      0.50     16547

AUC-ROC: 0.4973170404962533

Treinando o modelo: XGBoost...

Classification Report for XGBoost:
              precision    recall  f1-score   support

           0       0.51      0.50      0.50      8290
           1       0.50      0.51      0.51      8257

    accuracy                           0.50     16547
   macro avg       0.50      0.50      0.50     16547
weighted avg       0.50      0.50      0.50     16547

AUC-ROC: 0.5064180218911379