In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv('heart_attack_germany.csv')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275644 entries, 0 to 275643
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   State                     275644 non-null  object
 1   Age_Group                 275644 non-null  object
 2   Heart_Attack_Incidence    275644 non-null  int64
 3   Year                      275644 non-null  int64
 4   Gender                    275644 non-null  object
 5   BMI                       275644 non-null  float64
 6   Smoking_Status            275644 non-null  object
 7   Alcohol_Consumption       275644 non-null  float64
 8   Physical_Activity_Level   275644 non-null  object
 9   Diet_Quality              275644 non-null  object
 10  Family_History            275644 non-null  int64
 11  Hypertension              275644 non-null  int64
 12  Cholesterol_Level         275644 non-null  float64
 13  Diabetes                  275644 non-null  int64
 14  Urban_Rural               275644 non-null  object
 15  Socioeconomic_Status      275644 non-null  object
 16  Air_Pollution_Index       275644 non-null  float64
 17  Stress_Level              275644 non-null  object
 18  Healthcare_Access         275644 non-null  object
 19  Education_Level           275644 non-null  object
 20  Employment_Status         275644 non-null  object
 21  Region_Heart_Attack_Rate  275644 non-null  float64
dtypes: float64(5), int64(5), object(12)
memory usage: 46.3+ MB

In [48]:
df

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,Lower Saxony,Youth,0,2018,Other,25.6,Former Smoker,4.2,Moderate,Average,...,154.4,0,Rural,Low,31.58,Moderate,Moderate,Primary,Retired,1.92
1,Saxony,Adult,0,2021,Female,36.7,Smoker,2.4,Low,Poor,...,75.0,1,Rural,Low,46.22,High,Easy,Primary,Unemployed,14.16
2,Hesse,Youth,1,2022,Female,28.6,Smoker,29.5,High,Poor,...,121.9,0,Urban,Middle,15.69,High,Hard,Secondary,Student,3.49
3,Lower Saxony,Adult,0,2015,Male,27.6,Non-Smoker,4.2,Moderate,Poor,...,152.3,0,Urban,Low,26.50,High,Hard,Tertiary,Student,3.24
4,Hamburg,Adult,0,2015,Female,15.2,Smoker,4.3,Moderate,Good,...,130.3,0,Urban,High,11.21,High,Moderate,Tertiary,Employed,9.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275639,Baden-Württemberg,Adult,0,2022,Female,27.2,Non-Smoker,2.7,High,Poor,...,114.1,0,Rural,Low,27.01,High,Easy,Primary,Unemployed,15.37
275640,Hesse,Adult,0,2021,Male,28.4,Smoker,9.5,Low,Good,...,80.8,1,Rural,Low,45.26,Moderate,Hard,Secondary,Retired,8.37
275641,North Rhine-Westphalia,Adult,0,2016,Other,33.2,Non-Smoker,7.7,Moderate,Good,...,120.7,0,Urban,Low,21.63,High,Moderate,Primary,Employed,5.11
275642,Hamburg,Youth,0,2021,Male,37.7,Former Smoker,19.3,High,Average,...,139.5,1,Urban,Low,10.29,High,Moderate,Secondary,Retired,9.13
275643,North Rhine-Westphalia,Youth,1,2019,Female,15.9,Former Smoker,16.7,High,Poor,...,142.2,0,Urban,Low,21.19,High,Easy,Tertiary,Student,4.84

In [49]:
df.shape

(275644, 22)

In [50]:
df.describe()

,Heart_Attack_Incidence,Year,BMI,Alcohol_Consumption,Family_History,Hypertension,Cholesterol_Level,Diabetes,Air_Pollution_Index,Region_Heart_Attack_Rate
count,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000
mean,0.150070,2018.997319,24.992669,4.985734,0.300540,0.400564,130.034229,0.199525,27.486225,10.489019
std,0.357141,2.582667,4.996535,5.001789,0.458494,0.490014,30.009242,0.399644,13.001527,5.483277
min,0.000000,2015.000000,1.400000,0.000000,0.000000,0.000000,-7.900000,0.000000,5.000000,1.000000
25%,0.000000,2017.000000,21.600000,1.400000,0.000000,0.000000,109.800000,0.000000,16.220000,5.750000
50%,0.000000,2019.000000,25.000000,3.500000,0.000000,0.000000,130.100000,0.000000,27.430000,10.490000
75%,0.000000,2021.000000,28.400000,6.900000,1.000000,1.000000,150.300000,0.000000,38.780000,15.240000
max,1.000000,2023.000000,47.900000,70.000000,1.000000,1.000000,272.400000,1.000000,50.000000,20.000000

In [51]:
# Checando balanceamento da variável target
df['Heart_Attack_Incidence'].value_counts()

Heart_Attack_Incidence
0    234278
1     41366
Name: count, dtype: int64

In [52]:
# # Fazendo a separação entre valores positivos e negativos
zero_class = df[df['Heart_Attack_Incidence'] == 0]
one_class = df[df['Heart_Attack_Incidence'] == 1]

# Fazendo downsampling
zero_class_downsampled = zero_class.sample(n=len(one_class)*4, random_state=42)

# Concatenando novamente o dataframe
balanced_df = pd.concat([one_class, zero_class_downsampled])

# Reembaralhando, para não haver viés
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [53]:
# Checando balanceamento dos dados a cada ano (antes do downsampling)
balanced_df['Year'].value_counts()

Year
2016    23263
2021    23126
2023    23017
2022    22965
2020    22964
2017    22962
2019    22961
2015    22868
2018    22704
Name: count, dtype: int64

In [54]:
# Checando balanceamento dos dados a cada ano (após o downsampling)
df['Year'].value_counts()

Year
2016    30974
2021    30777
2019    30714
2020    30629
2015    30624
2022    30559
2023    30542
2017    30524
2018    30301
Name: count, dtype: int64

In [55]:
# Checando dados nulos
balanced_df.isnull().sum()

State                       0
Age_Group                   0
Heart_Attack_Incidence      0
Year                        0
Gender                      0
BMI                         0
Smoking_Status              0
Alcohol_Consumption         0
Physical_Activity_Level     0
Diet_Quality                0
Family_History              0
Hypertension                0
Cholesterol_Level           0
Diabetes                    0
Urban_Rural                 0
Socioeconomic_Status        0
Air_Pollution_Index         0
Stress_Level                0
Healthcare_Access           0
Education_Level             0
Employment_Status           0
Region_Heart_Attack_Rate    0
dtype: int64

In [56]:
# Removendo algumas features que julgo não interessar
col_to_remove = ['Year', 'State']

lean_df = balanced_df.drop(columns=col_to_remove)

In [57]:
# Separando variáveis escalares, inteiras e categóricas
cat_columns = []
scalar_columns = []
numeric_columns = []

for col in lean_df.columns:
    if lean_df[col].dtypes == 'int64':
        numeric_columns.append(col)
    elif lean_df[col].dtypes == 'float64':
        scalar_columns.append(col)
    elif lean_df[col].dtypes == 'object':
        cat_columns.append(col)

In [58]:
scalar_columns

['BMI',
 'Alcohol_Consumption',
 'Cholesterol_Level',
 'Air_Pollution_Index',
 'Region_Heart_Attack_Rate']

In [59]:
numeric_columns

['Heart_Attack_Incidence', 'Family_History', 'Hypertension', 'Diabetes']

In [60]:
cat_columns

['Age_Group',
 'Gender',
 'Smoking_Status',
 'Physical_Activity_Level',
 'Diet_Quality',
 'Urban_Rural',
 'Socioeconomic_Status',
 'Stress_Level',
 'Healthcare_Access',
 'Education_Level',
 'Employment_Status']

In [61]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder(dtype=np.int64)

# Codificando colunas categóricas
lean_df[cat_columns + numeric_columns] = enc.fit_transform(lean_df[cat_columns + numeric_columns])

numeric_columns.remove('Heart_Attack_Incidence')
numeric_columns

['Family_History', 'Hypertension', 'Diabetes']

In [62]:
# Verificando colunas codificadas
lean_df

,Age_Group,Heart_Attack_Incidence,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,Family_History,Hypertension,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,0,1,0,24.3,2,5.3,0,2,0,0,148.8,1,0,1,5.50,1,0,1,3,9.85
1,0,1,1,21.9,0,7.7,2,1,1,0,112.6,0,0,1,36.58,0,0,1,3,9.89
2,0,0,2,21.0,2,0.4,2,1,1,0,119.9,0,1,0,37.13,0,0,0,0,13.58
3,1,1,0,31.2,1,0.1,0,1,0,0,152.7,0,0,0,26.97,0,0,0,0,9.23
4,0,0,2,22.5,1,3.2,2,1,1,1,88.1,0,1,2,21.34,2,0,0,3,18.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206825,1,0,0,24.3,2,4.6,0,0,0,0,109.1,1,0,2,29.59,0,0,0,2,14.32
206826,0,0,0,16.4,2,0.6,2,0,0,0,127.3,1,0,1,34.19,1,0,2,2,18.12
206827,1,0,2,29.1,1,6.4,1,2,0,1,145.8,0,0,0,39.47,2,1,1,0,19.03
206828,0,0,1,33.1,2,6.6,0,2,0,0,99.6,0,1,1,19.04,0,1,1,1,17.59
206829,1,0,0,30.4,2,1.1,0,0,1,1,137.0,0,0,1,6.85,2,1,1,3,1.78

In [63]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# Padronizando variáveis escalares
lean_df[scalar_columns] = scaler.fit_transform(lean_df[scalar_columns])

In [64]:
lean_df

,Age_Group,Heart_Attack_Incidence,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,Family_History,Hypertension,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,0,1,0,0.508889,2,0.075714,0,2,0,0,0.531463,1,0,1,0.011111,1,0,1,3,0.465789
1,0,1,1,0.455556,0,0.110000,2,1,1,0,0.394238,0,0,1,0.701778,0,0,1,3,0.467895
2,0,0,2,0.435556,2,0.005714,2,1,1,0,0.421911,0,1,0,0.714000,0,0,0,0,0.662105
3,1,1,0,0.662222,1,0.001429,0,1,0,0,0.546247,0,0,0,0.488222,0,0,0,0,0.433158
4,0,0,2,0.468889,1,0.045714,2,1,1,1,0.301365,0,1,2,0.363111,2,0,0,3,0.920000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206825,1,0,0,0.508889,2,0.065714,0,0,0,0,0.380970,1,0,2,0.546444,0,0,0,2,0.701053
206826,0,0,0,0.333333,2,0.008571,2,0,0,0,0.449962,1,0,1,0.648667,1,0,2,2,0.901053
206827,1,0,2,0.615556,1,0.091429,1,2,0,1,0.520091,0,0,0,0.766000,2,1,1,0,0.948947
206828,0,0,1,0.704444,2,0.094286,0,2,0,0,0.344958,0,1,1,0.312000,0,1,1,1,0.873158
206829,1,0,0,0.644444,2,0.015714,0,0,1,1,0.486732,0,0,1,0.041111,2,1,1,3,0.041053

In [65]:
# Separando features de target
X, y = lean_df.drop(columns=['Heart_Attack_Incidence']), lean_df['Heart_Attack_Incidence']

In [66]:
from sklearn.model_selection import train_test_split

# Dividindo em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [67]:
from imblearn.over_sampling import SMOTE, ADASYN

smote = SMOTE(sampling_strategy='auto', random_state=42)

X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [68]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

# Lista de modelos e hiperparâmetros para GridSearch
models_and_params = [
    ('RandomForest', RandomForestClassifier(), {
        # 'model__n_estimators': [90, 100, 110],
        # 'model__max_depth': [8, 10, 12],
        # 'model__bootstrap': [True, False],
    }),
    ('KNN', KNeighborsClassifier(), {
        # 'model__n_neighbors': [7, 9, 11],
        # 'model__weights': ['uniform', 'distance'],
    }),
    ('DecisionTree', DecisionTreeClassifier(),{
        # 'model__criterion': ['gini', 'entropy', 'log_loss'],
        # 'model__max_depth': [8, 10, 12],
        # 'model__splitter': ['best', 'random'],
    }),
    ('GradientBoosting', GradientBoostingClassifier(),{
        # 'model__n_estimators': [100, 105, 110, 111],
        # 'model__learning_rate': [0.05, 0.1, 0.2],
        # 'model__max_depth': [8, 10, 12],
    }),
    ('XGBoost', XGBClassifier(),{
        # 'model__n_estimators': [73, 75, 80],
        # 'model__max_depth': [8, 10, 12],
    }),
    ('LogisticRegression', LogisticRegression(),{
    })
]

In [69]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, precision_score
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer

# Resultados
results = []
all_models = {}

for name, model, params in models_and_params:
    print(f"Treinando o modelo: {name}...")

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', OrdinalEncoder(dtype=np.int64), cat_columns + numeric_columns),
            ('cat', MinMaxScaler(), scalar_columns)
        ]
    )

    pipeline = Pipeline([
      ('preprocessor', preprocessor),
      ('model', model)
    ])

    # GridSearch com validação cruzada
    grid_search = GridSearchCV(pipeline, param_grid=params, cv=5, scoring='roc_auc', n_jobs=-1)
    grid_search.fit(X_train_resampled, y_train_resampled)

    # Melhor modelo
    best_model = grid_search.best_estimator_
    all_models[name] = best_model

    # Previsões
    y_pred = best_model.predict(X_test)
    y_proba = best_model.predict_proba(X_test)[:, 1]

    # Avaliação
    print(f"\nClassification Report for {name}:")
    print(classification_report(y_test, y_pred))

    # Salvar resultados
    results.append([name, precision_score(y_test, y_pred)])

# Comparação dos resultados
results_df = pd.DataFrame({
    'Model': [r[0] for r in results],
    'Precision': [r[1] for r in results]
})

Treinando o modelo: RandomForest...

Classification Report for RandomForest:
              precision    recall  f1-score   support

           0       0.80      0.78      0.79     33053
           1       0.20      0.23      0.21      8313

    accuracy                           0.67     41366
   macro avg       0.50      0.50      0.50     41366
weighted avg       0.68      0.67      0.67     41366

Treinando o modelo: KNN...

Classification Report for KNN:
              precision    recall  f1-score   support

           0       0.80      0.56      0.66     33053
           1       0.20      0.43      0.27      8313

    accuracy                           0.53     41366
   macro avg       0.50      0.50      0.46     41366
weighted avg       0.68      0.53      0.58     41366

Treinando o modelo: DecisionTree...

Classification Report for DecisionTree:
              precision    recall  f1-score   support

           0       0.80      0.68      0.74     33053
           1       0.19      0.30      0.24      8313

    accuracy                           0.61     41366
   macro avg       0.49      0.49      0.49     41366
weighted avg       0.67      0.61      0.64     41366

Treinando o modelo: GradientBoosting...

Classification Report for GradientBoosting:
              precision    recall  f1-score   support

           0       0.80      0.60      0.68     33053
           1       0.20      0.41      0.27      8313

    accuracy                           0.56     41366
   macro avg       0.50      0.50      0.48     41366
weighted avg       0.68      0.56      0.60     41366

Treinando o modelo: XGBoost...

Classification Report for XGBoost:
              precision    recall  f1-score   support

           0       0.80      0.77      0.79     33053
           1       0.20      0.23      0.21      8313

    accuracy                           0.66     41366
   macro avg       0.50      0.50      0.50     41366
weighted avg       0.68      0.66      0.67     41366

Treinando o modelo: LogisticRegression...

Classification Report for LogisticRegression:
              precision    recall  f1-score   support

           0       0.80      0.54      0.65     33053
           1       0.20      0.45      0.28      8313

    accuracy                           0.53     41366
   macro avg       0.50      0.50      0.46     41366
weighted avg       0.68      0.53      0.57     41366

In [70]:
print('\nDataset ordenado pela AUC:')
results_df = results_df.sort_values(by='Precision', ascending=False).head()
results_df

Dataset ordenado pela AUC:

                Model  Precision
0        RandomForest   0.203515
3    GradientBoosting   0.202805
4             XGBoost   0.200708
5  LogisticRegression   0.199010
1                 KNN   0.198437

In [71]:
best_model_name = results_df.iloc[0]['Model']
best_model_namebest_model_name = results_df.iloc[0]['Model']
best_model_name

'RandomForest'

In [72]:
best_pipeline = all_models[best_model_name]
best_pipeline.get_params()

{'memory': None,
 'steps': [('preprocessor',
   ColumnTransformer(transformers=[('num',
                                    OrdinalEncoder(dtype=<class 'numpy.int64'>),
                                    ['Age_Group', 'Gender', 'Smoking_Status',
                                     'Physical_Activity_Level', 'Diet_Quality',
                                     'Urban_Rural', 'Socioeconomic_Status',
                                     'Stress_Level', 'Healthcare_Access',
                                     'Education_Level', 'Employment_Status',
                                     'Family_History', 'Hypertension',
                                     'Diabetes']),
                                   ('cat', MinMaxScaler(),
                                    ['BMI', 'Alcohol_Consumption',
                                     'Cholesterol_Level', 'Air_Pollution_Index',
                                     'Region_Heart_Attack_Rate'])])),
  ('model', RandomForestClassifier())],
 'verbose': False,
 'preprocessor': ColumnTransformer(transformers=[('num',
                                  OrdinalEncoder(dtype=<class 'numpy.int64'>),
                                  ['Age_Group', 'Gender', 'Smoking_Status',
                                   'Physical_Activity_Level', 'Diet_Quality',
                                   'Urban_Rural', 'Socioeconomic_Status',
                                   'Stress_Level', 'Healthcare_Access',
                                   'Education_Level', 'Employment_Status',
                                   'Family_History', 'Hypertension',
                                   'Diabetes']),
                                 ('cat', MinMaxScaler(),
                                  ['BMI', 'Alcohol_Consumption',
                                   'Cholesterol_Level', 'Air_Pollution_Index',
                                   'Region_Heart_Attack_Rate'])]),
 'model': RandomForestClassifier(),
 'preprocessor__force_int_remainder_cols': True,
 'preprocessor__n_jobs': None,
 'preprocessor__remainder': 'drop',
 'preprocessor__sparse_threshold': 0.3,
 'preprocessor__transformer_weights': None,
 'preprocessor__transformers': [('num',
   OrdinalEncoder(dtype=<class 'numpy.int64'>),
   ['Age_Group',
    'Gender',
    'Smoking_Status',
    'Physical_Activity_Level',
    'Diet_Quality',
    'Urban_Rural',
    'Socioeconomic_Status',
    'Stress_Level',
    'Healthcare_Access',
    'Education_Level',
    'Employment_Status',
    'Family_History',
    'Hypertension',
    'Diabetes']),
  ('cat',
   MinMaxScaler(),
   ['BMI',
    'Alcohol_Consumption',
    'Cholesterol_Level',
    'Air_Pollution_Index',
    'Region_Heart_Attack_Rate'])],
 'preprocessor__verbose': False,
 'preprocessor__verbose_feature_names_out': True,
 'preprocessor__num': OrdinalEncoder(dtype=<class 'numpy.int64'>),
 'preprocessor__cat': MinMaxScaler(),
 'preprocessor__num__categories': 'auto',
 'preprocessor__num__dtype': numpy.int64,
 'preprocessor__num__encoded_missing_value': nan,
 'preprocessor__num__handle_unknown': 'error',
 'preprocessor__num__max_categories': None,
 'preprocessor__num__min_frequency': None,
 'preprocessor__num__unknown_value': None,
 'preprocessor__cat__clip': False,
 'preprocessor__cat__copy': True,
 'preprocessor__cat__feature_range': (0, 1),
 'model__bootstrap': True,
 'model__ccp_alpha': 0.0,
 'model__class_weight': None,
 'model__criterion': 'gini',
 'model__max_depth': None,
 'model__max_features': 'sqrt',
 'model__max_leaf_nodes': None,
 'model__max_samples': None,
 'model__min_impurity_decrease': 0.0,
 'model__min_samples_leaf': 1,
 'model__min_samples_split': 2,
 'model__min_weight_fraction_leaf': 0.0,
 'model__monotonic_cst': None,
 'model__n_estimators': 100,
 'model__n_jobs': None,
 'model__oob_score': False,
 'model__random_state': None,
 'model__verbose': 0,
 'model__warm_start': False}

In [73]:
import joblib

# Salvando o pipeline treinado
joblib.dump(best_pipeline, "flask_app/melhor_pipeline.pkl")

# Carregar o pipeline treinado
modelo_carregado = joblib.load("flask_app/melhor_pipeline.pkl")